* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.content img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

button {
  padding: 10px 30px;
  font-size: 22px;
  background-color: transparent;
  color: aliceblue;
  border: 2px white solid;
}

button:hover {
  color: black;
  background-color: aliceblue;
  cursor: pointer;
}
