body {
  background-color: #212121;
  color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display-joke {
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.btn {
  padding: 10px;
  margin-top: 40px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(234, 205, 210);
  color: #f3d2d9;
  cursor: pointer;
  border: 2px solid white;
}

/* to display the jokes correctly */
#result-div {
  font-size: 25px;
  margin: 3% auto;
  max-width: 300px;
  word-break: normal;
  position: absolute;
  text-align: center;
}
