body {
  background: rgb(17, 17, 17);
}

.header-content {
  text-align: center;
}

.btn {
  background: transparent;
  border: none;
  background-color: #62d316;
  color: #181717;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* JavaScript */
.cats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.random_cats {
  max-width: 70%;
  height: auto;
}

/* to center the element */

img {
  margin: 1% auto;
}
